.Header {
  box-shadow: 0px -2px 8px 0px #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  color: #0e3c7e;
  font-size: 45px;
  padding: 10px;
}

.Header p {
  margin-right: 20px;
}
